<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SVProgruss.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F4A9BD0B1CA4D8FA0071A0BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4A9BD241CA4D8FA0071A0BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4A9BD2F1CA4D8FA0071A0BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
