<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>swiftSeven.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F479D6261D52E8CD0023544E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F479D63A1D52E8CD0023544E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F479D6451D52E8CD0023544E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
